extends layout 
//-  le 'layout.pug' est appelé dans le 'form.pug' 
block content
	
	ul
	hr
	
	ul
	input(type="button" value="Login Administrateur" onclick="window.location.href='./administration'" class="btn btn-lg btn-primary btn-block" )
	
	

