doctype html
html
    head
        title= `${title}` 
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/styles.css')
    body
        div.container.listing-reg
            h1= cancre
            h2= titleH2 
            block content
hr 
